.poptb {
    border-collapse: collapse;
    width: 100%;
  }
  
  .popuptd, .popth {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .popth {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: #000;
  }
  